<template>
<svg
  :width="width"
  :height="height"
  viewBox="0 0 815 193"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:serif="http://www.serif.com/"
  stroke-linejoin="round"
  stroke-miterlimit="1.414">
  <g serif:id="Layer 1">
    <!-- eslint-disable-next-line -->
    <path d="M134.182 54.756H108.69v12.746a12.195 12.195 0 0 1-12.169 12.169 37.24 37.24 0 0 0-12.15 2.002V.767A95.247 95.247 0 0 0 58.86 7.583v139.998h25.511v-30.268a12.123 12.123 0 0 1 6.027-10.629 12.12 12.12 0 0 1 12.246 0 12.18 12.18 0 0 1 6.046 10.629v30.268h25.492v-30.268c0-9.165-3.35-18.041-9.435-24.896a37.567 37.567 0 0 0 9.435-24.915V54.756zM149.297 43.204l.289.289v-.289h-.289zM195.276 54.641c-1.887 0-3.735.116-5.583.328a101.96 101.96 0 0 1 7.374 25.223c2.098.173 4.197.674 6.199 1.521a20.92 20.92 0 0 1 12.901 19.312c-.019 11.533-9.358 20.871-20.891 20.89h-.212a101.339 101.339 0 0 1-9.839 24.376 46.353 46.353 0 0 0 27.784-2.407c17.348-7.181 28.65-24.106 28.65-42.859-.038-25.609-20.794-46.364-46.383-46.384M393.922 95.39v52.08h-25.494V95.39c0-8.43-6.832-15.264-15.264-15.264-8.43 0-15.263 6.834-15.263 15.264v52.08h-25.494V95.39c0-8.43-6.833-15.264-15.263-15.264S281.88 86.96 281.88 95.39v52.074h-25.494V54.693h25.494v2.899a40.716 40.716 0 0 1 43.275 8.215 40.609 40.609 0 0 1 28.009-11.177c22.5.026 40.735 18.26 40.758 40.76M454.976 121.972c11.536-.015 20.88-9.361 20.893-20.896 0-11.537-9.354-20.892-20.893-20.892-11.536 0-20.892 9.355-20.892 20.892 0 11.539 9.356 20.891 20.892 20.891v.005zm46.387-67.275v92.769h-25.494v-4.977c-19.512 9.849-43.254 4.741-56.99-12.264-13.734-17.003-13.734-41.29 0-58.292 13.736-17.005 37.478-22.113 56.99-12.262v-4.977l25.494.003zM599.706 95.39v52.083h-25.493V95.39c0-8.43-6.834-15.264-15.265-15.264-8.43 0-15.263 6.834-15.263 15.264v52.078h-25.494V54.63h25.494v2.967a40.485 40.485 0 0 1 15.266-2.967c22.499.026 40.732 18.261 40.755 40.76M681.816 101.08c0-11.538-9.354-20.893-20.892-20.893-11.537 0-20.893 9.355-20.893 20.893s9.356 20.892 20.893 20.892c11.533-.015 20.879-9.359 20.892-20.892M707.311 0v147.466h-25.495v-4.978c-19.512 9.85-43.254 4.741-56.989-12.263-13.734-17.003-13.734-41.29 0-58.292 13.735-17.006 37.477-22.114 56.989-12.263V0h25.495zM768.426 121.972c11.535-.015 20.879-9.361 20.894-20.896 0-11.537-9.355-20.892-20.894-20.892-11.537 0-20.892 9.355-20.892 20.892 0 11.539 9.355 20.891 20.892 20.891v.005zm46.387-67.275v92.769H789.32v-4.977c-19.514 9.849-43.254 4.741-56.992-12.264-13.733-17.003-13.733-41.29 0-58.292 13.738-17.005 37.478-22.113 56.992-12.262v-4.977l25.493.003z" :fill="iconColor" fill-rule="nonzero"/>
    <!-- eslint-disable-next-line -->
    <path d="M99.775.113v21.179c19.293.905 36.699 9.108 49.522 21.912l.289.288c13.439 13.575 21.776 32.251 21.776 52.815 0 41.396-33.694 75.091-75.091 75.091-41.396 0-75.091-33.695-75.091-75.091 0-27.784 15.172-52.102 37.68-65.079a75.379 75.379 0 0 1 15.403-6.72V2.577A94.747 94.747 0 0 0 58.86 7.583C24.279 22.178 0 56.412 0 96.307c0 53.16 43.11 96.271 96.271 96.271s96.271-43.111 96.271-96.271c0-51.986-41.224-94.365-92.767-96.194" :fill="iconColor" fill-rule="nonzero"/>
  </g>
</svg>
</template>

<script>
/* eslint-disable */
export default {
  props: {
    width: {
      type: [Number, String],
      default: 815,
    },
    height: {
      type: [Number, String],
      default: 193,
    },
    iconColor: {
      type: String,
      default: '#f7931e',
    },
  },
};
</script>
