<template>
  <div id="login-page">
    <el-row>
      <el-col :span="12" :offset="6">
        <h1>{{ $t('login.login') }}</h1>
        <div v-if="error">
          <el-alert :title="error" type="error" show-icon :closable="false" />
          <br/>
        </div>
        <el-form :model="form" ref="form" label-width="120px">
          <el-form-item :label="$t('login.email')" prop="email">
            <el-input type="email" v-model="form.uniqueKey" :maxlength="128" ref='email' />
          </el-form-item>
          <el-form-item :label="$t('login.password')" prop="password">
            <el-input type="password" v-model="form.password" :maxlength="64" @keyup.enter.native="login()"/>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="login()">{{ $t('login.loginBtn') }}</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      error: null,
      form: {
        uniqueKey: '',
        password: '',
      }
    }
  },
  methods: {
    async login() {
      try {
        const data = await this.$store.dispatch('login', this.form);
        this.$router.push('/dashboard');
      } catch(e) {
        this.error = e.message;
      }
    }
  },
  mounted() {
    this.$refs.email.focus();
  },
}
</script>

<style lang="scss">
  #login-page {
    padding-top: 2rem;
  }
</style>
