<template>
  <div id="signup-page">
    <el-row>
      <el-col :span="12" :offset="6">
        <h1>{{ $t('signup.signup') }}</h1>
        <div v-if="error">
          <el-alert :title="error" type="error" show-icon :closable="false" />
          <br/>
        </div>
        <el-form :model="registrationData" :rules="rules" ref="form" label-width="120px">
          <el-form-item :label="$t('signup.fullName')" prop="fullName">
            <el-input v-model="registrationData.fullName" :maxlength="64" ref="fullName" />
          </el-form-item>
          <el-form-item :label="$t('signup.phone')" label-width="120px" prop="phone">
            <el-input v-model="registrationData.phone" :maxlength="64"/>
          </el-form-item>
          <el-form-item :label="$t('signup.email')" label-width="120px" prop="email">
            <el-input type="email" v-model="registrationData.email" :maxlength="128"/>
          </el-form-item>
          <el-form-item :label="$t('signup.password')" label-width="120px" prop="password">
            <el-input type="password" v-model="registrationData.password" :maxlength="64"/>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="signup">{{ $t('signup.signupBtn') }}</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
// import AuthenticationService from '@/services/AuthenticationService';

export default {
  data() {
    return {
      registrationData: {
        fullName: '',
        phone: '',
        email: '',
        password: '',
      },
      rules: {
        fullName: [
          { required: true, message: this.$t('error.required'), trigger: 'blur' },
          { max: 64, message: this.$t('error.maxLength', { max: 64 }), trigger: 'blur' },
        ],
        phone: [
          { required: true, message: this.$t('error.required'), trigger: 'blur' },
          { min: 7, message: this.$t('error.minLength', { min: 7 }) },
          { max: 20, message: this.$t('error.maxLength', { max: 20 }) },
        ],
        email: [
          { required: true, message: this.$t('error.required'), trigger: 'blur' },
          { type: 'email', message: this.$t('error.invalidEmail') },
        ],
        password: [
          { required: true, message: this.$t('error.required'), trigger: 'blur' },
          { min: 8, message: this.$t('error.minLength', { min: 8 }) },
        ],
      },
      error: null,
    };
  },
  methods: {
    async signup() {
      let valid = false;

      // Validate fields
      try {
        valid = await this.$refs.form.validate();
      } catch (err) {
        return;
      }

      // If fields was valid, call register api
      if (valid) {
        try {
          await this.$store.dispatch('signup', this.registrationData);
          this.$router.push('/');
        } catch (err) {
          if( err.response ) {
            this.error = err.response.data.error;
          } else {
            this.error = err.message;
          }
        }
      }
    },
  },
  mounted() {
    this.$refs.fullName.focus();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #signup-page {
    padding-top: 2rem;
  }
</style>
