<template>
<div>
  <el-carousel trigger="click" height="480px">
    <el-carousel-item v-for="image in images" :key="image.id" :style="{ background: `url(${image.src}) no-repeat center`, backgroundSize: 'cover' }">
    </el-carousel-item>
  </el-carousel>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      images: [
        { 
          id: 1,
          src: 'images/img1-1024x480.jpg'
        },
        {
          id: 2,
          src: 'images/img2-1024x480.jpg',
        },
        { 
          id: 3, 
          src: 'images/img3-1024x480.jpg', 
        }
      ],
    };
  },
  methods: {
  },
};
</script>

<style scoped>
</style>
