<template>
  <div class="top-menu-component">
    <div class="container">
      <nuxt-link to="/" class="menu-item -brand"><logo height="36px" width="152px" iconColor="#fff" /></nuxt-link>

      <nuxt-link v-if="$store.getters.isAuthenticated" to="/dashboard" class="menu-item">{{ $t('menu.dashboard') }}</nuxt-link>
      <nuxt-link v-if="!$store.getters.isAuthenticated" to="/signup" class="menu-item">{{ $t('menu.signup') }}</nuxt-link>
      <nuxt-link v-if="!$store.getters.isAuthenticated" to="/login" class="menu-item">{{ $t('menu.login') }}</nuxt-link>

      <div v-if="$store.getters.isAuthenticated" class="menu-item -profile" @mouseenter="showProfileMenu = true" @mouseleave="showProfileMenu = false">
          <profile width="16" height="16" />&nbsp;
          <span>{{ $store.state.user.fullName }}</span>
          <i class="el-icon-arrow-down"></i>
          <sub-menu :show="showProfileMenu">
            <sub-menu-item>Profile</sub-menu-item>
            <sub-menu-item>
              <nuxt-link to="/logout">{{ $t('menu.logout') }}</nuxt-link>
            </sub-menu-item>
          </sub-menu>
      </div>

    </div>
  </div>
</template>

<script>
import Logo from '@/components/icons/Logo';
import Profile from '@/components/icons/Profile';
import SubMenu from '@/components/menu/SubMenu';
import SubMenuItem from '@/components/menu/SubMenuItem';

export default {
  data() {
    return {
      showProfileMenu: false,
    }
  },
  components: {
    Logo,
    Profile,
    SubMenu,
    SubMenuItem,
  }
}
</script>

<style lang="scss" >
  @import '../assets/styles/variables.scss';

  .top-menu-component {
    background: $--color-primary;
    color: lighten($--color-primary, 35%);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
      0 4px 5px 0 rgba(0,0,0,.14),
      0 1px 10px 0 rgba(0,0,0,.12);
      opacity: .97;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-item {
    display: inline-block;
    line-height: 1;
    padding: .5rem .5rem;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }
  }

  .menu-item.-brand {
    > svg {
      display: block;
    }
    padding-left: 0;
    padding-right: 3rem;
  }

  .menu-item.-profile {
    margin-left: auto;
    max-width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > svg {
      min-width: 16px;
    }

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
