/* theme color */
$--color-primary: #f7931e;
$--color-secondary: #fff;
$--font-family-sans-serif: 'Titillium Web', sans-serif;
$--font-size-base: 16px;
$--line-height-base: 1.5;
$--bg-color-base: #fff;
$--light: #eaeaea;
$--dark: #333;
$--black: #000;
$--white: #fff;
$--light: #eaeaea;
$--dark: #333;

/* breakpoints */
$--sm: 768px;
$--md: 992px;
$--lg: 1200px;
$--xl: 1920px;