@import '_variables.scss';

/* Reset all element to boxsize border-box */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Base styling */
body {
  margin: 0;
  background: $--bg-color-base;
  color: $--dark;
  font-family: $--font-family-sans-serif;
  line-height: $--line-height-base;
  -webkit-font-smoothing: antialiased;
  font-size: $--font-size-base;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}