<template>
  <div>
    <header id="main-header">
      <top-menu />
    </header>
    <nuxt/>
  </div>
</template>

<script>
import TopMenu from '@/components/TopMenu';

export default {
  components: {
    TopMenu,
  },
}
</script>

<style lang="scss">
@import '~/assets/styles/main.scss';

#main-header {
  z-index: 1000;
  position: sticky;
  top: 0;
}
</style>
