<template>
  <div class="home-page">
    <banner />
    <div class="container">
      <usp />
    </div>
  </div>
</template>

<script>
import Banner from '@/components/Banner';
import Usp from '@/components/usp/Usp';

export default {
  components: {
    Banner,
    Usp,
  },
}
</script>

