<template>
  <li class="sub-menu-item"><slot /></li>
</template>

<script>
export default {
}
</script>


<style lang="scss" scoped>
  @import '../../assets/styles/variables.scss';

  .sub-menu-item {
    padding: 1rem 1rem;
    background: $--color-primary;
  }

  .sub-menu-item:hover {
    background: lighten($--color-primary, 10%);
  }
</style>
