<template>
  <transition name="fade">
  <div class="sub-menu" v-show="show">
    <ul class="sub-menu-list">
      <slot></slot>
    </ul>
  </div>
  </transition>
</template>

<script>
export default {
  props: {
    show: Boolean,
  }
}
</script>

<style lang="scss" scoped>
  @import '../../assets/styles/variables.scss';

  .sub-menu {
    position: fixed;
    top: 0px;
    padding-top: 50px;
    width: 200px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s, top .3s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    top: -10px;
  }
</style>

